img {
  /* width: 700px; */
  border-radius: 50%;
}
* {
  text-align: center;
}

h1 {
  font-size: x-large;
}

p {
  font-size: medium;
}

#winner {
  color: green;
}

img {
  width: 0ex;
  border: radius 100px;
}
